<mat-sidenav-container class="metesic-root" fullscreen>
  <mat-sidenav #start>
    <mat-nav-list>
      <a *ngFor="let navItem of navItems"
         mat-list-item
         (click)="start.close()"
         [routerLink]="[navItem.route]">
        {{navItem.name}}
      </a>

      <hr>

      <a mat-list-item
         (click)="start.close()"
         [routerLink]="['baseline']">
        Baseline
      </a>
    </mat-nav-list>
    <button mat-button (click)="start.close()">CLOSE</button>
  </mat-sidenav>
  <div>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="start.open()">
        <mat-icon class="mat-24" >menu</mat-icon>
      </button>
      <div class="metesic-toolbar">
        <a routerLink="/" class="toolbar-title">Metesic</a>
        <!-- <h1>Metesic</h1> -->
        <button mat-button (click)="toggleFullscreen()" title="Toggle fullscreen">
          Fullscreen
        </button>
        <button mat-button (click)="dark = !dark">{{dark ? 'Light' : 'Dark'}} theme</button>
        <button mat-button (click)="root.dir = (root.dir == 'rtl' ? 'ltr' : 'rtl')" title="Toggle between RTL and LTR">
          {{root.dir.toUpperCase()}}
        </button>
        <div [hidden]="user">
          <a mat-button [routerLink]="['/login']" >Login</a>
          <a mat-button [routerLink]="['/signup']">Sign up</a>
        </div>
        <div [hidden]="!user">
          <span>{{ user | displayName }}</span>
          <button mat-button (click)="logout()">Logout</button>
        </div>
      </div>
    </mat-toolbar>

    <div [hidden]="true">
      <router-outlet></router-outlet>
    </div>
    <div #root="dir" dir="ltr" class="metesic-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
