<md-sidenav-container class="metesic-root" fullscreen>
  <md-sidenav #start>
    <md-nav-list>
      <a *ngFor="let navItem of navItems"
         md-list-item
         (click)="start.close()"
         [routerLink]="[navItem.route]">
        {{navItem.name}}
      </a>

      <hr>

      <a md-list-item
         (click)="start.close()"
         [routerLink]="['baseline']">
        Baseline
      </a>
    </md-nav-list>
    <button md-button (click)="start.close()">{{ 'CLOSE' | translate }}</button>
  </md-sidenav>
  <div>
    <md-toolbar color="primary">
      <button md-icon-button (click)="start.open()">
        <md-icon class="md-24" >menu</md-icon>
      </button>
      <div class="metesic-toolbar">
        <a routerLink="/" class="toolbar-title">Metesic</a>
        <!-- <h1>Metesic</h1> -->
        <button md-button (click)="toggleFullscreen()" title="Toggle fullscreen">
          {{ 'Fullscreen' | translate }}
        </button>
        <button md-button *ngIf="dark" (click)="dark = !dark">{{ 'Light theme'  | translate }}</button>
        <button md-button *ngIf="!dark" (click)="dark = !dark">{{ 'Dark theme'  | translate }}</button>
        <!-- <button md-button (click)="root.dir = (root.dir == 'rtl' ? 'ltr' : 'rtl')" title="Toggle between RTL and LTR">
          {{root.dir.toUpperCase()}}
        </button> -->
        <div class="btn-group">
            <button md-raised-button *ngFor="let lang of supportedLanguages" (click)="selectLang(lang.value)" [color]="isCurrentLangStyle(lang.value)">
                {{ lang.display }}
            </button>
        </div>
        <div [hidden]="user">
          <a md-button [routerLink]="['/login']">{{ 'Login' | translate }}</a>
          <a md-button [routerLink]="['/signup']">{{ 'Sign up' | translate }}</a>
        </div>
        <div [hidden]="!user">
          <span>{{ user | displayName }}</span>
          <button md-button (click)="logout()">{{ 'Logout' | translate }}</button>
        </div>
      </div>
    </md-toolbar>

    <div [hidden]="true">
      <router-outlet></router-outlet>
    </div>
    <div #root="$implicit" dir="ltr" class="metesic-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</md-sidenav-container>
