<div class="form-container">
  <div class="container-background">
    <div class="form-content">
      <div class="form-center">
				<form [formGroup]="addCategory" (ngSubmit)="addCategoryFunction();">
					<mat-form-field>
             <input matInput dividerColor="primary" formControlName="name" placeholder="Description">
          </mat-form-field>
					<button color="primary" mat-raised-button type="submit">Add the category!</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div id="listCategoriesContainer">
	<mat-nav-list>
		<mat-list-item *ngFor="let category of categories | async">
			<a mat-line>{{category.name}}</a>
			<button mat-icon-button (click)="deleteCategory(category)">
				<mat-icon>delete</mat-icon>
			</button>
		</mat-list-item>
	</mat-nav-list>
</div>
