.folder-tab-group {
  border: 1px solid #e0e0e0;
  margin-bottom: 40px;
  flex-grow: 1;
  .mat-tab-header {
    background: #f9f9f9;
  }
}

.current-folder-title {
  border: 1px solid #e0e0e0;
  margin-bottom: 40px;
  flex-grow: 1;
  #h2 {
    background: #f9f9f9;
  }
}
