<mat-tab-group class="folder-tab-group" dynamicHeight>
  <mat-tab *ngFor="let tab of tabs" [disabled]="tab.disabled">
    <template mat-tab-label>{{tab.label}}</template>
		<div class="tab-content">
      <br>
      <div *ngIf="tab.file === '0'">
				<settings-folders></settings-folders>
      </div>
			<div *ngIf="tab.file === '1'">
        <settings-categories></settings-categories>
			</div>
      <div *ngIf="tab.file === '2'">
        <settings-users></settings-users>
			</div>
    </div>
  </mat-tab>
</mat-tab-group>
