<div class="form-container">
  <div class="container-background">
    <div class="form-content">
      <div class="form-center">
				<form [formGroup]="addUser" (ngSubmit)="addUserFunction();">
          <mat-form-field>
            <input matInput formControlName="email" type="email" placeholder="Email"></input>
          </mat-form-field>
					<mat-form-field>
            <input matInput formControlName="username" type="text" placeholder="Username"></input>
          </mat-form-field>
					<button color="primary" mat-raised-button type="submit">Create the new user !</button>
				</form>
			</div>
		</div>
	</div>
</div>


<div>
  <h1>Admins ! </h1>
  <mat-nav-list>
		<mat-list-item *ngFor="let user of usersAdmin | async">
			<a mat-line>{{user.emails[0].address}}</a>
      <a mat-line *ngIf="user.username != undefined">{{user.username}}</a>
      <button mat-raised-button color="accent" (click)="openEditUser(user)">
        <mat-icon>border_color</mat-icon>
      </button>
			<button mat-icon-button (click)="deleteUser(user)">
				<mat-icon>delete</mat-icon>
			</button>
		</mat-list-item>
	</mat-nav-list>
</div>

<h1>Grouillots !</h1>
<div>
	<mat-nav-list>
		<mat-list-item *ngFor="let user of users | async">
			<a mat-line>{{user.emails[0].address}}</a>
      <a mat-line *ngIf="user.username != undefined">{{user.username}}</a>
      <button mat-raised-button color="accent" (click)="openEditUser(user)">
        <mat-icon>border_color</mat-icon>
      </button>
      <button mat-raised-button color="accent" (click)="setAdmin(user)">
        Set Administrator
      </button>
			<button mat-icon-button (click)="deleteUser(user)">
				<mat-icon>delete</mat-icon>
			</button>
		</mat-list-item>
	</mat-nav-list>
</div>
