<div class="current-folder-title">
	<md-list>
		<h2 md-subheader>Current folder : </h2>
		<md-list-item *ngFor="let title of current | async">
			<a  md-line>{{title.path}}</a>
			<button md-icon-button (click)="cdBack(title.path)">
				<md-icon>arrow_back</md-icon>
			</button>
			<button md-icon-button (click)="synchroniseCurrent()">
				<md-icon>sync</md-icon>
			</button>
			<md-checkbox	[(ngModel)]="title.isInCollection"
				(change)="setInCollection(title, $event.checked)">
			</md-checkbox>
		</md-list-item>
	</md-list>
</div>

<md-tab-group class="folder-tab-group" dynamicHeight>
  <md-tab *ngFor="let tab of tabs" [disabled]="tab.disabled">
    <template md-tab-label>{{tab.label}}</template>
		<div class="tab-content">
      <br>
      <div *ngIf="tab.folder">
				<md-nav-list>
					<md-list-item *ngFor="let folder of folders | async">
						<a md-line>{{folder.name}}</a>
						<button md-icon-button *ngIf="folder.isFolder" (click)="cdInto(folder.path)">
							<md-icon>arrow_forward</md-icon>
						</button>
						<md-checkbox	[(ngModel)]="folder.isInCollection"
							(change)="setInCollection(folder, $event.checked)">
			    	</md-checkbox>
					</md-list-item>
				</md-nav-list>
      </div>
			<div *ngIf="!tab.folder">
				<md-nav-list>
					<md-list-item *ngFor="let file of files | async">
						<a md-line>{{file.name}}</a>
						<md-checkbox	[(ngModel)]="file.isInCollection"
							(change)="setInCollection(file, $event.checked)">
						</md-checkbox>
					</md-list-item>
				</md-nav-list>
			</div>
    </div>
  </md-tab>
</md-tab-group>
