<!-- <div *ngFor="let playList of playlistsUsers | async">
  <h1>{{playList.name}}</h1>
</div> -->
<h1>{{ 'Please choose your preferred playlist !' | translate }}</h1>
<mat-radio-group name="my_playlists" [(ngModel)]="currentPlayListId" class="choixPlayLists" (change)="selectPlayListFunction();">
  <mat-radio-button *ngFor="let playList of playlistsUsers | async" [value]="playList._id">
    <h1>{{playList.name}}</h1>
  </mat-radio-button>
</mat-radio-group>

<form [formGroup]="addPlayList" (ngSubmit)="addPlayListFunction();">
  <mat-input-container>
     <input matInput dividerColor="primary" formControlName="name" placeholder="{{'Name' | translate }}"></input>
  </mat-input-container>
  <mat-input-container>
     <input matInput dividerColor="primary" formControlName="description" placeholder="{{'Description' | translate }}"></input>
  </mat-input-container>
  <button color="primary" mat-raised-button type="submit">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-raised-button color="primary" mat-dialog-close>
    {{ 'Close' | translate }}
  </button>
</form>
