<mat-nav-list *ngFor="let videoPlaylist of videosPlayList">
  <mat-list-item>
    <div *ngIf=" currentPlayListUser && videoPlaylist.currentPosition === currentPlayListUser.currentPosition">
      <mat-icon class="mat-24">play_arrow</mat-icon>
    </div>
    <button mat-raised-button  color="accent" style="margin : 8px;" (click)="readVideoButton(videoPlaylist.currentPosition)" matTooltip="{{ 'Play now' | translate }}">
      <mat-icon class="mat-24">play_arrow</mat-icon>
    </button>
    <button color="warn" mat-raised-button style="margin : 8px;" (click)="removeVideoPlaylist(videoPlaylist)" matTooltip="{{ 'Remove from the playlist' | translate }}">
      <mat-icon class="mat-24">remove</mat-icon>
    </button>
    <div matLine class="text">
      <h3 class="video-name">
        {{videoPlaylist | displayVideoPlayList:"name"}}

      </h3>
      <p>
          {{videoPlaylist | displayVideoPlayList:"description"}}
      </p>
    </div>

  </mat-list-item>
</mat-nav-list>
