<!-- <div *ngFor="let playList of playlistsUsers | async">
  <h1>{{playList.name}}</h1>
</div> -->
<h1>Add the video <i> {{videoToAdd.name}} </i> to the playlist ...</h1>


<form [formGroup]="selectPlayList" (ngSubmit)="selectPlayListFunction();">
  <md-radio-group name="my_playlists" [(ngModel)]="currentPlayListId" class="choixPlayLists" formControlName="playlist">
    <mat-radio-button *ngFor="let playList of playlistsUsers | async" [value]="playList._id">
      <h1>{{playList.name}}</h1>
    </mat-radio-button>
  </md-radio-group>
  <button color="primary" md-raised-button type="submit">
    SELECT
  </button>
  <button md-raised-button color="primary" md-dialog-close>
    Close
  </button>
  <!-- <md-input-container>
     <input mdInput dividerColor="primary" formControlName="name" placeholder="Name"></input>
  </md-input-container>
  <md-input-container>
     <input mdInput dividerColor="primary" formControlName="description" placeholder="Description"></input>
  </md-input-container>
  <button color="primary" md-raised-button type="submit">
    <md-icon>add</md-icon>
  </button> -->
</form>
