<!-- <div *ngFor="let playList of playlistsUsers | async">
  <h1>{{playList.name}}</h1>
</div> -->
<h1>{{ 'Add the video' | translate }} <i> {{videoToAdd.name}} </i> {{ 'to the playlist ...' | translate }}</h1>



<div [formGroup]="selectPlayList" (ngSubmit)="selectPlayListFunction();">
  <mat-radio-group name="my_playlists" [(ngModel)]="currentPlayListId" style="display: flex; flex-direction: column;" formControlName="playlist">
    <mat-radio-button *ngFor="let playList of playlistsUsers | async" [value]="playList._id">
      <h1>{{playList.name}}</h1>
    </mat-radio-button>
  </mat-radio-group>

  <button color="primary" mat-raised-button type="submit">
    {{ 'SELECT' | translate }}
  </button>
  <button mat-raised-button color="primary" mat-dialog-close>
    {{ 'Close' | translate }}
  </button>
</div>
