<player *ngIf="user"></player>

<div *ngIf="user" class="research-container">
  <div class="research-content">
    <div class="research-criterions border-container default-padding">
      <h1>Filter search</h1>
      <h2>Name</h2>
      <form>
        <mat-input-container>
          <input matInput dividerColor="primary" type="text" #searchtext placeholder="Enter a video name"></input>
        </mat-input-container>
        <button color="primary" mat-raised-button (click)="search(searchtext.value)" matTooltip="Search">
          <mat-icon>find_in_page</mat-icon>
        </button>
      </form>
      <h2>Categories</h2>
      <mat-button-toggle-group multiple [vertical]="true">
        <mat-button-toggle *ngFor="let category of categories | async" (change)="changeCategory(category)">{{category.name}}</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="research-videos border-container">
      <h1>Research Results</h1>
      <div *ngFor="let videoMeta of videosMetas | async" class="video-meta">
        <div class="menu-section">
          <mat-toolbar>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Open basic menu">
              <mat-icon>more_vert</mat-icon>
            </button>
          </mat-toolbar>

          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="addToCurrentPlayList(videoMeta)">
      	    	Add to current playlist
      	    </button>
            <button mat-menu-item (click)="openEditPlayLists(videoMeta)">
      	    	Add to another playlist ...
      	    </button>
            <button mat-menu-item (click)="deleteVideo(videoMeta)" disabled="isVideoInCurrentPlayList(videoMeta)">
      	       Delete from playlist
      	    </button>
          </mat-menu>
        </div>
        <div class="text">
          <h2 class="video-name">
            {{videoMeta.name}}
          </h2>
          <p>
              {{videoMeta.description}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!user">
  <h2>Please login or signup to get all fonctionalities from Metesic !</h2>
</div>
