<player *ngIf="user"></player>

<div *ngIf="user" class="research-container">
  <div class="research-criterions">
    <md-card class="research-card">
      <md-card-title>
        {{ 'Research' | translate }}
      </md-card-title>
      <md-card-content>
        <h3>{{ 'Name' | translate }}</h3>
        <form>
          <md-input-container>
            <input mdInput dividerColor="accent" type="text" #searchtext placeholder="Enter a video name"></input>
          </md-input-container>
          <button color="accent" md-raised-button (click)="search(searchtext.value)" mdTooltip="{{ 'Search' | translate }}">
            <md-icon>find_in_page</md-icon>
          </button>
        </form>
        <h3>{{ 'Categories' | translate }}</h3>
          <div class="slide-toggle-categories">
            <md-slide-toggle name="slideToggle" *ngFor="let category of categories | async" (change)="changeCategory(category)">
              {{category.name}}
            </md-slide-toggle>
          </div>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-title>
        {{ 'Results' | translate }}
      </md-card-title>
      <md-card-content>
      <div *ngFor="let videoMeta of videosMetas | async | paginate: { itemsPerPage: 10, currentPage: p, totalItems: nbVideosMeta }" class="video-meta">
        <!-- <div class="menu-section">
          <md-toolbar class="action-on-result">
            <button md-icon-button [mdMenuTriggerFor]="menu" aria-label="Open basic menu">
              <md-icon>more_vert</md-icon>
            </button>
          </md-toolbar>

          <md-menu #menu="mdMenu">
            <button md-menu-item (click)="addToCurrentPlayList(videoMeta)">
      	    	{{ 'Add to current playlist' | translate }}
      	    </button>
            <button md-menu-item (click)="openEditPlayLists(videoMeta)">
      	    	{{ 'Add to another playlist ...' | translate }}
      	    </button>
            <button md-menu-item (click)="deleteVideo(videoMeta)" disabled="isVideoInCurrentPlayList(videoMeta)">
      	       {{ 'Delete from playlist' | translate }}
      	    </button>
          </md-menu>
        </div> -->
        <div class="demo-button">
          <section>
            <button md-raised-button color="accent" mdTooltip="{{ 'Add to current playlist' | translate }}" (click)="addToCurrentPlayList(videoMeta)">
              <md-icon class="md-24">playlist_add</md-icon>
            </button>
            <button md-raised-button color="accent" mdTooltip="{{ 'Add to another playlist ...' | translate }}" (click)="openEditPlayLists(videoMeta)">
              <md-icon class="md-24">queue</md-icon>
            </button>
          </section>
        </div>
        <div class="text">
          <h2 class="video-name">
            {{videoMeta.name}}
          </h2>
          <p>
              {{videoMeta.description}}
          </p>
        </div>
      </div>
    </md-card-content>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </md-card>
  </div>
</div>

<div *ngIf="!user">
  <h2>{{ 'Please login or signup to get all fonctionalities from Metesic !' | translate }}</h2>
</div>
