<div class="form-container">
  <div class="container-background">
    <div class="form-content">
      <div class="form-center">
        <h1>Your video is missing?</h1>
        <h2>Add it now! ></h2>
      </div>
      <div class="form-center">
        <form *ngIf="user" [formGroup]="addForm" (ngSubmit)="addVideo();">
          <div style="display: table-row">
            <div class="form-inputs">
              <md-input-container>
                <input mdInput dividerColor="accent" formControlName="name" placeholder="Video name"></input>
              </md-input-container>
              <br/>
              <md-input-container>
                 <input dividerColor="accent" formControlName="description" placeholder="Description"></input>
              </md-input-container>
              <br/>
              <md-checkbox formControlName="public">Public party?</md-checkbox>
              <br/><br/>
              <videos-upload #upload (onFile)="onVideo($event)"></videos-upload>
              <button color="accent" md-raised-button type="submit">Add my video!</button>
            </div>
          </div>
        </form>
        <div *ngIf="!user">
          Please login in order to add new videos!
        </div>
      </div>
    </div>
  </div>
</div>
