<div class="mat-content" layout="row" layout-align="center start" layout-fill layout-margin>
  <div layout="column" flex flex-mat="50" flex-lg="50" flex-gt-lg="33" class="mat-whiteframe-z2" layout-fill>
    <mat-toolbar class="mat-primary" color="primary">
      Sign up
    </mat-toolbar>

    <div layout="column" layout-fill layout-margin layout-padding>
      <form [formGroup]="signupForm" #f="ngForm" (ngSubmit)="signup()"
            layout="column" layout-fill layout-padding layout-margin>

        <mat-form-field>
          <input matInput formControlName="email" type="email" placeholder="Email">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="password" type="password" placeholder="Password">
        </mat-form-field>

        <div layout="row" layout-align="space-between center">
          <button mat-raised-button class="mat-primary" type="submit" aria-label="login">Sign Up</button>
        </div>
      </form>

      <div [hidden]="error == ''">
        <mat-toolbar class="mat-warn" layout="row" layout-fill layout-padding layout-margin>
          <p class="mat-body-1">{{ error }}</p>
        </mat-toolbar>
      </div>

      <mat-divider></mat-divider>

      <div layout="row" layout-align="center">
        <a mat-button [routerLink]="['/login']">Already a user?</a>
      </div>
    </div>
  </div>
</div>
